In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("D:\ExcelR_Classes_Data\Assignments\Data_Science\Assignment - 03 (Hypothesis Testing)\BuyerRatio.csv")

In [3]:
sales

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
#h0: = (Male-female ratio is equal across all regions)

#ha: != (Male-female ratio is not equal accross regions)

In [5]:
sales_updated = sales.iloc[:, 1:]

In [6]:
sales_updated

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
# we need to perform independence test (X^2 test) between variables (0,1 and east, south, west, north)

In [19]:
import numpy as np

In [20]:
np.array(sales_updated)

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [21]:
import scipy.stats as stats

In [22]:
stats.chi2_contingency(np.array(sales_updated))

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

### chi2 value : 1.595945538661058
### p value : 0.6603094907091882
### DF : 3

In [24]:
pvalue = 0.6603094907091882
alpha = 0.05 #(5% significance)

if pvalue < alpha: #condition taken from problem statement slides
    print("Accept Alternate Hypothesis")
else:
    print("Accept the Null Hypithesis")

Accept the Null Hypithesis

## Male-female ratio is not equal accross regions